.H1 {
  text-align: center;
  color: #503d36;
  font-size: 24;
  padding: 5px;
  padding-top: 10px;
}

.Div {
  display: flexbox;
}
#main {
  background-color: white;
}

#dropDownDiv {
  display: grid;
  grid-template-columns: auto auto;
}
#dropdown-statistics {
  padding: 3%;
}
#select-year {
  padding: 3%;
}

#wrapper {
  display: flex;
  flex-wrap: wrap;
}

.grids {
  flex: 42%;
  width: auto;
}
